
<h4>Hello <%= @user.name %>,</h4>

<p>
   The Coin machine is running very low on coins.Please refill. <%= @coin %> is running ver low. The amount of <%= @coin %> in the coin machine is <%= @number %>. Please refill immediately.   
</p>

<p>The number of coins in the system at the current time are as listed below</p>

<p>Number of quarters: <%= @quarters %></p>
<p>Number of dimes:  <%= @dimes %></p>
<p>Number of nickles:  <%= @nickles %></p>
<p>Number of pennies:  <%= @pennies %></p>